@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Reused  buttons CSS */


.primary-button:hover{
  background-color: white;
  color:#128b76;
  transition-delay:0.08s;
}


.secondary-button {
  background-color: white;
  color: #f56b8d;
  padding: 6px 20px;
  border: 2px solid #f56b8d;
  text-transform: uppercase;
}

.secondary-button:hover{
  background-color: #f56b8d;
  color: white;
  transition-delay: 0.08s;
}

.lightGreen-button {
  background-color: #f56b8d;
  border: 2px solid #f56b8d;
  color: white;
  padding: 6px 24px;
  text-transform: uppercase;
}

.lightGreen-button:hover {
  background-color: white;
  color: #f56b8d;
  transition-delay: 0.08s;
}

input:focus{
    outline: none;
}

.XLShadow{
  box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
}

/* Reused  buttons CSS END */ 
:root {
  --font-thin: "magnifythin";
  --font-light: "magnifylight";
  --font-regular: "MagnifyRegular";
  --font-medium: 'magnifymedium';
  --font-semibold: "magnifySemiBold";
  --font-bold: "magnfiyBold";
}

@font-face {
  font-family: 'magnifythin';
  src: url('../../public/fonts/XdCreative-Magnify-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'magnifylight';
  src: url('../../public/fonts/XdCreative-Magnify-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'magnifymedium';
  src: url('../../public/fonts/XdCreative-Magnify-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'magnifySemiBold';
  src: url('../../public/fonts/XdCreative-Magnify-Semi-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'magnfiyBold';
  src: url('../../public/fonts/XdCreative-Magnify-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MagnifyRegular';
  src: url('../../public/fonts/XdCreative-Magnify-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}